
.home{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

text-align:center;

padding:20px;

background:#0B0B0F;

color:white;

}

.home h1{

font-size:64px;

margin:10px 0;

}

.home span{

color:#8B5CF6;

}

.home h2{

font-weight:400;

margin-bottom:20px;

}

.home p{

max-width:600px;

line-height:1.8;

color:#aaa;

}

button{

margin-top:30px;

padding:15px 35px;

border:none;

border-radius:50px;

background:#8B5CF6;

color:white;

font-size:16px;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:translateY(-3px);

box-shadow:0 0 20px #8B5CF6;

}